<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"> 
    <link rel="stylesheet" href="../css/style.css" type="text/css">
</head>
<body>
    <form action="/inserted" method="POST">
        <h3>Insert values on database: </h3>
        Name: <input type="text" name="name" id="">
        Email: <input type="email" name="email" id="">
        <input type="submit" value="submit">
    </form>
</body>
</html>